[2021-09-15 17:59] rafrombrc opened #1576 "Add 99 and 99.9 percentile"
Perf team wants to see the outliers, so showing 99th and even 99.9th percentiles would be super useful for them. 99.9% will involve more work, since the built in BQ percentile function we're using assumes whole number percentiles, we'll likely have to implement our own to get to resolution in the thousandths.

[2021-09-15 18:01] rafrombrc opened #1577 "Add link to comparison view redash query from context menu"
Bas's comparison view query is super useful. Ultimately, it'd be nice to have this in GLAM itself, but for now we can link out to the query by constructing a URL that pre-populates the parameters for the parameterized redash query.

[2021-09-15 18:22] rafrombrc commented on #621
Doing this as a modal overlay (like the 'view sql query' window) wouldn't be a lot of work, is worth looking into.

[2021-09-15 18:24] rafrombrc commented on #620
This is a little awkward bc the diff values disappear when you roll off of the line graph but we could still add the tool tip to the greyed out 'diff' column header.

[2021-09-15 18:37] rafrombrc commented on #449
We've gotten feedback that bucket sizes are too large and can obscure small but important movement, but we need some DS support to really figure out how best to tackle this issue.

[2021-09-15 18:46] rafrombrc commented on #435
When GLAM is deployed, there may be changes to the static bundle file that contains all of the svelte assets. Right now, the file name stays the same, so new requests might use an older, cached version of this instead of the updated one. Ideally, this file would change names with every release to ensure the browser downloads the new version. As of a year ago, svelte didn't have an easy way to do t

[2021-09-15 18:47] rafrombrc commented on #392
Done!

[2021-09-15 18:47] #392 closed, assigned to nobody

[2021-09-15 18:49] rafrombrc commented on #391
Need consult with Data Science to understand how important this is.

[2021-09-16 14:46] jrmuizel opened #1580 "Can't hover over most recent points on graph"
e.g. with https://glam.telemetry.mozilla.org/firefox/probe/paint_build_displaylist_time/explore?ref=20210909212746 the data goes to around Sept 14/15 but I can only hover over Sept 11

[2021-09-16 20:43] wlach opened #1581 "Consider using Glean Dictionary to search and display data relevant to Glean probes (e.g. for Firefox for Android)"
I might turn this into a proposal but filing an issue just to get the ball rolling.

Right now we use/store the [probe search service](https://github.com/mozilla/probe-search) to store and retrieve metric data.
This made some sense at the time GLAM was been developed (which was before the Glean dictionary) but the Glean Dictionary provides a much more sophisticated metadata model which includes:

[2021-09-16 23:19] robhudson commented on #1581
Would we change the flow so users start on Glean Dictionary with a link out to GLAM? Or vice versa? Or some other UI change I'm not clear on here?

[2021-09-17 16:30] wlach commented on #1581
I would keep the UI and flow more-or-less the same for now -- we can just add more metadata inside the GLAM pages for each metric. At some point we might want to consider unifying GLAM and the Glean Dictionary in some way, but that would require some thought and care.

[2021-09-29 14:19] mdboom opened #1603 "Add Mozilla VPN"
It would be great to add Mozilla VPN to the GLAM dashboard.  We expect correct Glean data to start flowing in around October 20, 2021 from the next VPN release.

[2021-09-29 18:09] rafrombrc commented on #362
Want to check w DS and/or stakeholders to see what the need for this is.

[2021-09-29 18:19] rafrombrc commented on #350
Open question: Do we want heavy usage clients to weigh more than clients with less usage? We don't want to weigh each sample equally, but we might want to weigh clients w a lot of samples slightly more heavily than clients w very few samples.

[2021-09-29 18:31] rafrombrc commented on #302
We can do this for Glean probes, but I don't know if there's a way to reliably get Y axis units for desktop telemetry probes.

[2021-09-29 18:31] #270 closed, assigned to rafrombrc

[2021-09-29 18:36] rafrombrc commented on #254
Done \o/!

[2021-09-29 18:36] #254 closed, assigned to robhudson

[2021-09-30 21:03] birdsarah commented on #1603
The versioning for mozilla vpn is standard [semantic versioning](https://semver.org/), we're in v2.5 now (major "2", minor "5") and about to put out a patch release which will be v2.5.1

The next version, with upgraded glean, will be v2.6.

[2021-10-01 19:46] wlach opened #1610 "Add links out to Looker from GLAM metrics pages"
In many cases, a Looker explore for a metric may be a useful complement to the data GLAM displays. It is also useful in the case where GLAM doesn't support a metric type (e.g. events, see #1490). For these cases, we should streamline going to Looker for a metric.

The shortest path to implementing this probably runs through #1581

[2021-10-01 21:17] #1560 closed, assigned to Iinh

[2021-10-12 19:07] mdboom commented on #1603
Now that I understand this better, I think it's fine to deprioritize this work.  It looks like all of VPN's telemetry is in events.  GLAM doesn't yet support events, and even when it does, the expectation is that it will just be aggregate counts.  For event funnels, the better tool is Looker.

Let me know if you have any questions, @birdsarah.

[2021-10-12 19:09] Iinh commented on #1576
closed via #1619

[2021-10-12 19:09] #1576 closed, assigned to alekhyamoz

[2021-10-12 19:37] smaug---- opened #1639 "Changes in the 95th percentile aren't always visible in Glam when they are visible in Telemetry"
The following links show the difference on 95th percentile. It is hard to see in the Glam UI if there was basically any change to 95th, yet 95th is often the most interesting value.

https://telemetry.mozilla.org/new-pipeline/evo.html#!aggregates=Median!5th%2520percentile!25th%2520percentile!75th%2520percentile!95th%2520percentile&cumulative=0&end_date=2021-10-04&include_spill=0&keys=!none!none&ma

[2021-10-12 19:46] chutten commented on #1639
I have two thoughts on why this might occur (and thoughts about what GLAM could do):

1) TMO's underpinning library `telemetry.js` `v2` [performs interpolation for its percentiles](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/v2/telemetry.js#L90). This isn't really correct, but if we assume that the interpolation's being done on a continuous distribution that's just being _approxim

[2021-10-12 23:38] birdsarah commented on #1603
How do we get default dashboards based on our defined metrics?

[2021-10-13 18:57] rafrombrc commented on #1610
This is only going to be possible for Glean metrics, we should show this as inactive for older Telemetry metrics (w tooltip as to why it's inactive).

[2021-10-13 19:09] wlach commented on #1490
When https://github.com/mozilla/glean-dictionary/pull/902 lands, we'll be able to say why a given Glean metric doesn't appear in GLAM. We should be able to use that to show a more meaningful message (directing the user to Looker and/or the Glean Dictionary) for that metric. Aside from that, the only other thing we should do is update the API (for Fenix/Glean) to not exclude events:

https://github

[2021-10-15 19:07] Iinh opened #1658 "Provide a more specific error message when we can't get information on a probe / metric"
This is the current error page when a user visits a probe that has no data:

<img width="764" alt="CleanShot 2021-10-15 at 15 00 10@2x" src="https://user-images.githubusercontent.com/28797553/137539149-343e94af-36be-48aa-a254-d87a238b318e.png">

This error message is the same whether it's because of a UI bug, or because we don't have data for that probe yet, or we don't aggregate that metric type,

[2021-10-19 16:12] ecsmyth commented on #1575
As a simple heuristic, I propose we use roughly 0.5% of WAU.

[Desktop](https://mozilla.cloud.looker.com/explore/kpi/firefox_desktop_usage_2021?qid=9nATCGAEBtHKWqkkT48vI9&origin_space=63&toggle=fil,vis)
* Release: 625,000
* Beta: 9,000
* Nightly: 375

[Android](https://mozilla.cloud.looker.com/explore/fenix/growth_accounting?qid=7WxGfgfPUtMqVKRrSOzTMi&origin_space=191&toggle=vis)
* Release: 90,000

[2021-10-19 16:40] mdboom commented on #1603
@birdsarah: Some default dashboards for event funnels have now been set up in Looker: https://mozilla.cloud.looker.com/explore/mozilla_vpn/funnel_analysis?toggle=fil,vis,vse&qid=Id5RndasXDM4rVIE4TXk66

[2021-10-19 16:40] #1603 closed, assigned to nobody

[2021-10-20 15:35] #1577 closed, assigned to Iinh

[2021-10-21 19:37] Iinh commented on #1240
I'm still not sure where to display the sample count when the data becomes available? Should it be under client count?

![CleanShot 2021-10-21 at 15 35 27@2x](https://user-images.githubusercontent.com/28797553/138345244-5e653f1d-f9b7-489a-a172-f77a4b7a7f3b.png)

@ecsmyth what do you think?

[2021-10-26 10:35] jonco3 commented on #1240
The original idea for this was to display a graph of sample counts like the client volume graph.  For example, like it does on TMO:

https://telemetry.mozilla.org/new-pipeline/evo.html#!aggregates=Median&cumulative=0&end_date=2021-10-25&include_spill=0&keys=!__none__!__none__&max_channel_version=nightly%252F95&measure=GC_MINOR_US&min_channel_version=nightly%252F94&processType=*&product=Firefox&san

[2021-10-26 19:32] wlach commented on #1580
It looks like there's an oversized svg around here:

![image](https://user-images.githubusercontent.com/20569/138948322-c2f62469-50eb-4383-991c-2fdb0f4228bc.png)

If I manually set the width to 145px (the size of the containing element), hovering works again.

[2021-10-27 15:06] #1580 closed, assigned to Iinh

[2021-10-27 19:05] wlach opened #1678 "Replace probe search service usage with Glean Dictionary"
We should consider using the Glean Dictionary for searching for metric data instead of the probe search service. This would have a number of advantages:

* Simplify our cloud infrastructure (would no longer need to maintain a seperate web service)
* Simplify development (the Glean Dictionary is easier to hack on)

Depends on:

* https://github.com/mozilla/glean-dictionary/pull/834 (for Fenix)
* ht

[2021-10-27 19:12] wlach commented on #1581
Part of this was implemented in #1625, filed a new issue (#1678) for the rest of it.

[2021-10-27 19:12] #1581 closed, assigned to wlach

[2021-10-27 19:15] wlach commented on #1490
We discussed closing this at today's meeting, but instead lets morph it to implementing https://github.com/mozilla/glam/issues/1490#issuecomment-942632780 once #1658 lands.

[2021-10-27 20:02] wlach commented on #1566
FWIW here's a list of string_list metrics used in Fenix: https://dictionary.telemetry.mozilla.org/apps/fenix?page=1&search=string_list

[2021-11-03 18:33] rafrombrc commented on #1485
Eric is going to do a bit of investigation on this to understand the use cases and we'll work on implementation pending those results.

[2021-11-03 18:36] rafrombrc commented on #1187
Possibly an opportunity to revisit the UI to be able to support data validation for new probes.

[2021-11-03 18:54] rafrombrc commented on #346
Points to a lack of documentation of the overall GLAM aggregation methodology... we should dig up and/or generate any docs we can to describe this and at least provide a link from the UI to these docs.

[2021-11-04 15:40] st3fan commented on #1105
On iOS the build numbers are simply values that increment every time our CI environment does a build. They have no meaning. This build increment also happens for pull request builds or test builds, so the numbers can jump up significantly between official releases.

Note that for beta (testflight) releases we can have many builds in use, all with the same version (39.0) but different build ids (87

[2021-11-04 15:41] st3fan commented on #1105
I noticed that two applications are missing in the list in the issue story:

 - org_mozilla_ios_focus
 - org_mozilla_ios_klar

[2021-11-04 16:08] st3fan commented on #1105
To clarify: on iOS we would prefer to stick with the current build number scheme, but we can easily add a glean value that contains a build datetime.

[2021-11-16 14:01] alekhyamoz commented on #1105
Thank you Stefan for all the information.
We wanted to check,  if there was a way to pull the datetime associated with the build via an API (related to CI)
If not, adding build datetime would be fitting.

If we decide to add the datetime, my understanding is,  it would be going forward and cannot be backfilled. Is that correct ?

[2021-11-17 19:09] #1575 closed, assigned to alekhyamoz

[2021-11-17 19:17] rafrombrc commented on #1126
We've dug in to this and now understand why this difference exists: GLAM normalizes the aggregations by client id, so a single client weighs equally to all other clients, regardless of how many samples that client sends. TMO measurement dashboard does not, so if a single client sends a ton of pings then that client will impact the distribution more heavily. This normalization is what obscures the

[2021-11-17 19:24] rafrombrc commented on #1073
We've got another effort going on right now to build a Looker based roll-out operational monitoring (OpMon) dashboard, and we have plans to have that dashboard support both build id and submission date as the x-axis. We suspect that OpMon will be the right tool to use for intra-build tracking like this, as opposed to GLAM. Thoughts @emtwo @ecsmyth ?

[2021-11-17 19:34] emtwo commented on #1073
I think opmon could certainly support this. However, it wouldn't be as easy as a dropdown menu with pre-aggregated/available data like Glam. A set of metrics+dimensions of interest would need to be defined in advance. For someone who knows there's a subset of metrics they always want to monitor, the setup would happen once and provide an ongoing helpful dashboard. For someone who wants to browse a

[2021-11-17 19:35] rafrombrc commented on #565
We already have a "this probe type is not supported" page for boolean scalars (see [a11y_sitezoom](https://glam.telemetry.mozilla.org/firefox/probe/a11y_sitezoom/explore?process=parent), we should double check that this page shows up for string scalars. Unfortunately, a11y_instantiators no longer seems to exist, so we need to find some other string scalars to test with.

[2021-11-17 19:46] rafrombrc commented on #378
Since this was opened, some basic sanity tests were added to the bigquery_etl repo that are run by CI whenever changes are made, this fulfills this basic requirement. We can open new tickets for more specific testing needs.

[2021-11-17 19:46] #378 closed, assigned to alekhyamoz

[2021-11-17 19:52] rafrombrc commented on #449
Related #156

[2021-11-18 15:44] st3fan commented on #1105
@travis79 From a CI/Build perspective it is really simple to inject a datetime into the app. But I don't know how to transfer that to Glean. Should we just add a metric for that? Or is there a Glean API for this?

[2021-11-18 15:59] travis79 commented on #1105
There currently isn't a way to send a user defined metric in all Glean pings, so we would only see this in the metrics ping, and in any custom pings it was added to. If that is sufficient, then I'm fine with it. If you really want this in every ping, then it might take a change to Glean in order to accomodate.  cc @badboy for visibility into this.

[2021-11-18 18:51] #1610 closed, assigned to Iinh

[2021-11-19 16:02] rafrombrc commented on #1105
@travis79 @st3fan As @alekhyamoz says, if there's an API somewhere from which we could pass in a build id and get back a build date, that would be better for us than having the build date added to every Glean ping. Or we could even just create a BigQuery table that stores these mappings and then look them up when we need them. Does Glean have a mechanism for supporting the idea of an "out of band"

[2021-11-19 16:09] st3fan commented on #1105
Unfortunately there is not. But we could do the reverse: our CI system could ping another system to announce a new build. Would that work?

(I'm not in favor of these kind of inter-infrastructure dependencies btw - moving things into Glean would be my preference)

[2021-11-19 16:31] travis79 commented on #1105
The easiest path would probably be to add this as an optional measurement to the Glean "client_info" that is sent in all pings, the discussion around this has picked up again, so hopefully we can arrive at a solution that doesn't rely on CI systems connecting the dots for us.

[2021-11-19 18:04] rafrombrc commented on #1105
Okay, is there an issue tracking this work that we can follow, @travis79?

[2021-11-19 18:51] travis79 commented on #1105
I don't see a bug in Glean for this yet. If you wanted to file one, [here is the right component](https://bugzilla.mozilla.org/enter_bug.cgi?product=Data%20Platform%20and%20Tools&component=Glean%3A%20SDK)

[2021-11-22 17:28] alekhyamoz commented on #1105
@travis79  Filed a bug to track the issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1742448
Please let me know if any further information is required.

[2021-11-29 15:50] alekhyamoz opened #1715 "Use of dirichlet function to approximate values in buckets"
As reported by @valenting, buckets with no records show up with lower values in glam.

[this](https://glam.telemetry.mozilla.org/firefox/probe/predictor_prefetch_decision_reason/explore?activeBuckets=%5B%221%22%2C%220%22%2C%225%22%2C%223%22%2C%224%22%2C%226%22%2C%222%22%2C%227%22%2C%228%22%2C%229%22%5D&process=parent&timeHorizon=ALL) probe in glam makes it seem like there are records in the 7,8,9

[2021-11-30 19:35] alekhyamoz opened #1720 "Users may want to know what build ids were filtered"
Currently the glam etl filters on minimum client counts for each build id and channel ([Issue link](https://github.com/mozilla/glam/issues/1575)).
As per @ecsmyth, it would be good to know the build ids that were filtered as part of this process.

[2021-12-01 17:01] wlach commented on #1678
Working on this now. I think this approach will help with the effort to add Firefox-on-Glean data to GLAM.

[2021-12-01 19:53] rafrombrc commented on #1559
ETL is done, we've now got GLAM data sets with the Firefox Desktop Glean probes in them, and files sitting in GCS ready to be picked up by the importer. Next step is importing these into CloudSQL.

[2021-12-08 14:57] Iinh commented on #622
I have some thoughts after starting working on this issue.

Here's the current layout of GLAM:

![CleanShot 2021-12-08 at 09 12 58@2x](https://user-images.githubusercontent.com/28797553/145223433-7acf5d4b-e260-48d6-ad48-c38aeab31ff7.png)

(1): probe title block
(2): toggle switch control block: time horizon toggle and percentile/category toggle
(3): data graphic block that contains the graphs and

[2021-12-08 17:34] alekhyamoz opened #1737 "Import FOG probe data into GLAM"
As the next step to get FOG into GLAM UI, we need to make the necessary Django script changes to import FOG CSV data (residing in GCS bucket) into Postgres table

[2021-12-08 19:11] rafrombrc commented on #622
After some conversation, it's clear that this is not a big enough issue to warrant work right now, leaving open because we'll revisit how we handle toggling in general in H1 2022.

[2021-12-08 20:12] alekhyamoz commented on #350
Moving this to M5 because of the below-noted issues:
1. Understand the requirements of the weighted quantile function and how it would help improve current implementation
2. The [ported js function](https://github.com/mozilla/glam/blob/e6d345d0e61df23549ece416e2d41e800980de41/src/utils/stats.js) does not pass all the required testcases.

I have tested the script in my local GCP project, The aggreg

[2021-12-08 20:17] alekhyamoz commented on #351
Move to M5: Contingent with https://github.com/mozilla/glam/issues/350

[2021-12-14 14:58] jesup opened #1753 "Can't view Glam data for probes added last week"
I'm trying to view the Glam data for service_worker_running and serviceworker_running_max.  These are viewable on the older Telemetry (example: https://mzl.la/31P6w6S).   Glam times out after 30s every time (I've tried a dozen+ times over the last hour, and I also tried a few times last night).

Devtools tells me that the request is getting a 502 after ~30s:
502 on https://glam.telemetry.mozilla.o

[2021-12-14 18:26] Iinh commented on #1753
Thank you for reporting this @jesup. We're looking into it right now.

[2021-12-15 17:33] alekhyamoz commented on #1105
Jan-Erik and I came up with a proposal document
https://docs.google.com/document/d/1_7kTePQHHRhsAqOYPiw8ptoN9ytRnsWMcN-tddnV0Cg/edit#heading=h.bpxdzoa6nutw
Looking forward to implementing this in H1 2022

[2021-12-15 19:56] rafrombrc commented on #1753
Okay, we've been digging in here... we figured out that a recent ETL change contains a bug that blew up the size of our data sets, which caused the GLAM queries to run so slowly that they were timing out. We've reverted the ETL change and have deleted the recently imported data so GLAM is no longer timing out. Your probes are now returning "404: No data found for the selected dimensions" instead o

[2021-12-16 17:13] alekhyamoz commented on #1753
Hi @jesup, the issue has been resolved and we can now see the data for service_worker_running and serviceworker_running_max in desktop nightly category
<img width="1629" alt="Screen Shot 2021-12-16 at 12 11 40 PM" src="https://user-images.githubusercontent.com/88394696/146417388-1d890c26-f9de-4b73-a62c-f23da3923b3a.png">
<img width="1599" alt="Screen Shot 2021-12-16 at 12 12 12 PM" src="https://us

[2021-12-29 17:05] #1678 closed, assigned to wlach

[2021-12-29 19:15] wlach opened #1761 "Should use Glean Dictionary's "official" search API"
In #1736 we swapped in the Glean Dictionary as the source of probe/metric metadata. However, it's using the weird `.netlify` API endpoint. Instead we should use the new API search endpoints landed in https://github.com/mozilla/glean-dictionary/pull/1028.

Should just require a change small here to update the path:

https://github.com/mozilla/glam/blob/a075a955ab8626565bc1fa28e919a92a351edecb/src/s

[2022-01-05 18:45] #1753 closed, assigned to Iinh, alekhyamoz

[2022-01-05 18:56] alekhyamoz commented on #1737
Created a [PR](https://github.com/mozilla/glam/pull/1771) for django changes for FOG

[2022-01-12 19:17] alekhyamoz commented on #346
1. Show aggregation method on front-end (if the method is not known, ETL needs to pass the data along for app to access)
2. Aggregation method is linked to another page what the method means (DTMO reference)

[2022-01-12 19:20] alekhyamoz commented on #1105
Assessed!

[2022-01-12 19:21] #1105 closed, assigned to alekhyamoz

[2022-01-12 19:29] alekhyamoz commented on #1073
@ecsmyth  this ticket is in line with our ongoing discussions about GLAM's role in product management.

[2022-01-12 19:40] alekhyamoz commented on #565
deletion.request.context_id - GLAM dev shows as inactive.
However, the probe dictionary shows this probe as 'never expires'
https://probes.telemetry.mozilla.org/?view=detail&probeId=scalar%2Fdeletion.request.context_id

[2022-01-12 19:46] alekhyamoz commented on #1658
This ticket is too generic. Will open more specific issue
Eg: #565

[2022-01-12 19:47] alekhyamoz commented on #1559
ETL is done. Import being tracked in #1737

[2022-01-12 19:48] #1559 closed, assigned to alekhyamoz

[2022-01-12 19:51] #1658 closed, assigned to nobody

[2022-01-12 20:03] alekhyamoz commented on #346
The aggregation method information is being sent over by the ETL in the 'client_agg_type' column.

[2022-01-18 18:29] alekhyamoz commented on #1737
The implementation has been deployed to the dev environment.
Created a couple of tickets requesting DSREs support for testing in dev
https://mozilla-hub.atlassian.net/browse/DSRE-429
https://mozilla-hub.atlassian.net/browse/DSRE-430

[2022-01-20 16:11] alekhyamoz commented on #1550
[Here](https://docs.google.com/document/d/1fxVblBLDlpN0rw792vBmZgSc2yc4zW26o9C5PyIfcdY/edit#) is the documentation prepared with inputs from the Glean team.

[2022-01-26 15:39] jrmuizel opened #1807 "GLAM's visualization of video_dropped_frames_proportion is much less useful than t.m.o's"
Compare:
https://glam.telemetry.mozilla.org/firefox/probe/video_dropped_frames_proportion/explore?timeHorizon=QUARTER

vs

https://telemetry.mozilla.org/new-pipeline/evo.html#!aggregates=Median!Mean!5th%2520percentile!25th%2520percentile!75th%2520percentile&cumulative=0&end_date=null&include_spill=0&keys=&max_channel_version=nightly%252F98&measure=VIDEO_DROPPED_FRAMES_PROPORTION&min_channel_versio

[2022-01-26 16:44] Iinh commented on #565
Some example string scalars that I found:
https://probes.telemetry.mozilla.org/?view=detail&probeId=scalar%2Fblocklist.mlbf_generation_time
https://probes.telemetry.mozilla.org/?view=detail&probeId=scalar%2Fdeletion.request.context_id
https://probes.telemetry.mozilla.org/?search=a11&view=detail&probeId=scalar%2Fa11y.instantiators

However, for some reason these probes are not available on prod. Bu

[2022-01-26 16:59] Iinh commented on #1761
TODO: We need to publish a new Glean Dictionary release to be able to use the production search API, which should be done after [the tag issue](https://matrix.to/#/!bYOjfdNDYkOXZgaNEI:mozilla.org/$eBSOpiP32WsuNa7Iwg5qjAOVgE1nUO9Fbjy0ho7Mo8A?via=mozilla.org&via=matrix.org&via=ungleich.ch) is fixed.

[2022-01-26 17:03] Iinh commented on #1490
Closing this issue because we can now search for event metrics on dev. Regarding the specific error message, we have agreed in the last triage meeting to open a separate bug for each metric type.

[2022-01-26 17:03] #1490 closed, assigned to Iinh

[2022-01-26 19:26] alekhyamoz opened #1809 "Front-end (UI) work required for FOG"
The next step after importing FOG data is to make the data visible via GLAM UI

[2022-01-27 16:54] alekhyamoz commented on #1737
The front-end work is being tracked in #1809

[2022-01-28 13:05] Iinh commented on #1809
Some notes on the front-end work required for FOG:

- First, we need to consolidate legacy telemetry and FOG search API so we only need to hit 1 API for Firefox dropdown search (this work needs to be done in the Glean Dictionary)
- Then, use this new API for desktop search
- UI-wise, add visual treatment to the search results so users can differentiate between FOG and legacy probes

[2022-02-02 15:48] alekhyamoz commented on #1485
Conversation related to keyed histograms redash query: https://mozilla.slack.com/archives/CB1EQ437S/p1643731039180779
chutten provided pointers on how to make the query work in redash
here is a sample query that worked for the user: https://sql.telemetry.mozilla.org/queries/84037/source#208182

[2022-02-03 18:47] #1761 closed, assigned to Iinh

[2022-02-04 13:35] alekhyamoz opened #1821 "Probe missing in GLAM desktop"
It was reported by @jrmuizel asking about a new probe that landed last week: VIDEO_DROPPED_FRAMES_PROPORTION_EXPONENTIAL.
Landed on the 29th and there seems to be some data in.
It's not showing up on GLAM.
here is the commit landed for the probe : https://hg.mozilla.org/mozilla-central/rev/a8737f2938d4

[2022-02-04 13:38] alekhyamoz commented on #1821
The probe `video_dropped_frames_proportion_exponential` is seen in the published main_v4 schema: https://raw.githubusercontent.com/mozilla-services/mozilla-pipeline-schemas/generated-schemas/schemas/telemetry/main/main.4.bq
The query was also working: https://sql.telemetry.mozilla.org/queries/84081/source#208286

Issue:
The glean dictionary powering the search API in glam hasn't been updated in a

[2022-02-04 13:38] #1821 closed, assigned to Iinh

[2022-02-08 16:53] alekhyamoz commented on #1550
Added the note : https://github.com/mozilla/glean/pull/1950

[2022-02-08 16:53] #1550 closed, assigned to alekhyamoz

[2022-02-09 19:07] #1737 closed, assigned to Iinh, alekhyamoz

[2022-02-09 19:30] rafrombrc commented on #1073
We've confirmed that the cost (operational and $$) of doing this in GLAM is prohibitive at the moment. @ecsmyth Now that operational monitoring is more mature, we should look at Martin's use cases to see how many of them OpMon might be able to support.

[2022-02-09 21:13] alekhyamoz opened #1830 "Onboarding iOS to GLAM"
Add iOS to GLAM. This requires ETL, Backend and UI changes

[2022-02-16 14:16] jrmuizel opened #1837 "Add support "Distribution view" to "View SQL Query""
Currently "View SQL Query" has SQL that generates a chart something like the "Evolution" tab of telemetry.mozilla.org. It would be valuable to have the SQL for the "Distribution" tab.

[2022-02-16 15:27] #308 closed, assigned to Iinh

[2022-02-16 16:35] alekhyamoz commented on #1240
GLAM vs TMO sample counts [research notes here](https://docs.google.com/document/d/1T-0yWj6vaiWTN3lPiX5VXGW-WNEK4rOkgaIx7sKN_Sw/edit#)

Pending on ETL front:
1. Add scalars to the etl
2. Optimize the sql (may be remove keys? / build id as date)

Backend:
Pull csv data to postgres

[2022-02-18 19:32] alekhyamoz opened #1841 "GLAM throws network error for some probes though data exists in backend tables(eg: sqlite_store_open)"
GLAM throws a network error when accessing some probes :
Eg: sqlite_store_open / sqlite_store_query

<img width="1265" alt="Screen Shot 2022-02-18 at 2 29 45 PM" src="https://user-images.githubusercontent.com/88394696/154749254-cdcf6eb3-6dcd-43d2-a173-1fb926e18820.png">

https://glam.telemetry.mozilla.org/firefox/probe/sqlite_store_open/explore?channel=release&os=Mac&process=parent
https://glam.te

[2022-02-22 17:22] Iinh opened #1847 "Improve GLAM instrumentation to better understand the app usage"
One of our focuses in H2 is to understand GLAM usage better. Specifically, we want to have more clarity of what role GLAM should serve in the data analysis workflow: is it a starting point or an endpoint, or is it something in between? As part of this effort, we need to investigate a better way of instrumentation.

Currently, we use Google Analytics as our main tool to analyze user behaviors. Info

[2022-02-23 18:12] Iinh commented on #1841
Locally data is fetched successfully for these probes. We need to investigate why we're getting 502 server errors in production.

[2022-02-23 20:00] rafrombrc commented on #1847
Here is a list of possible questions we'd want to answer, extracted from some meeting notes:
* Which probes?
  * Most looked at
  * Least looked at (long tail?)
  * Specific collections of probes a’la OpMon or Nimbus “outcomes”?
    * Which probes are looked at in a single session?
  * What app's probes are most viewed?
* How many users of GLAM?
* Seasonality
  * Around release cycles?
  * Weekly?

[2022-02-23 22:37] edugfilho commented on #1841
Ongoing investigation: Here's the amount of distinct ip addresses that got errors in the last two weeks, and the probes that caused it.
Looking at how different parameter combinations affect this

![Screen Shot 2022-02-23 at 5 33 47 PM](https://user-images.githubusercontent.com/5804462/155420715-a70aabd8-31c0-4f44-88a7-1ffd79ba0c32.png)

[2022-02-24 15:07] edugfilho commented on #1841
Big chance this (or at least one of the problems) is being caused by gunicorn running out of memory while processing large probe payloads:
- It works locally, but not while deployed
    - Checking locally, some payloads are over 100MB
    - Checking the prod cluster, looks like each pod has only 100MB of memory (edit: 100MB requested, but 500MB limit)
- Looking at live app logs on GKE (BQ only has

[2022-02-24 16:57] edugfilho commented on #1841
Still working on replicating the problem locally, but at this point I'm pretty confident container memory is one issue. This is from[ GKE Pod Details:](https://console.cloud.google.com/kubernetes/pod/us-west1/glam-prod-v1/prod-glam/glam-prod-glam-app-1-7c6ddc8d9-7xrdr/details?cloudshell=false&project=moz-fx-data-glam-prod-fca7&supportedpurview=project)

![Screen Shot 2022-02-24 at 11 55 31 AM](htt

[2022-02-24 17:51] edugfilho commented on #1841
Executing the GLAM SQL of probes on BQ
Probes that cause server error:
* `sqlite_store_open` -> produces 2GB of data
* `browser_ui_toolbar_widgets` -> 157MB (this one went to the canary pod (why?) but doesn't spike mem to the limit)
* `sqlite_store_query` -> 104.67 GB (huge resultset, also went to canary, caused spike to limit)

Now`browser_engagement_active_ticks` has zero Bytes reported by BQ (o

[2022-02-24 18:38] alekhyamoz commented on #1841
Please ignore the `browser_engagement_active_ticks` as the issue was caused due to SSO session timeout.
I can see the data for this probe now

[2022-02-24 19:11] alekhyamoz opened #1851 "Add sample counts to GLAM UI"
Contingent to #1240. Once the sample counts data is available in Postgres tables, the sample counts need to be displayed front-end.

[2022-02-24 22:33] edugfilho commented on #1841
I was able to reproduce the error locally by limiting container memory in the docker-compose file, ran a number of tests and here's what I learned:
- The GLAM Server containers need at least 2GB of memory to be able to serve `sqlite_store_query`. Otherwise they die out of memory
  - This behavior is different in prod, where the gunicorn thread gets killed instead of the container. I think it's jus

[2022-02-25 18:30] edugfilho commented on #1841
Docker killing the container bc it runs OOM:
<img width="545" alt="Screen Shot 2022-02-25 at 1 11 46 PM" src="https://user-images.githubusercontent.com/5804462/155766192-a3834204-8f78-4049-ab24-a1d683e61910.png">

Took me some time to set this up, but once I could get VSCode running on debug mode attached to Docker, I could confirm this happens when [the query result is being iterated over and a r

[2022-02-25 19:41] alekhyamoz commented on #1841
I have attached a file that gives the number of keys for each probe.
We can see that some probes have a high number of keys specially
[code]

Tried `network_http_redirect_to_scheme`, as an example, which has a relatively lesser number of keys and it works
I would suspect that a high volume of key-metric data might be causing the issue.
At this point, I am not very sure who are the users/consumers

[2022-02-28 15:32] #1085 closed, assigned to Iinh

[2022-03-01 02:16] edugfilho commented on #1841
Thanks @alekhyamoz for clarifying some aspects of the data,  here's the problem behind the `sqlite_store_*`  and  `browser_ui_toolbar_widgets`:

The `sqlite_store_*`  probes represent the result of the browser querying/opening a sqlite file, and their `key`s are  **sqlite file names**, which means we're storing a key for every file name, and file names can be anything with a `.sqlite` extension. R

[2022-03-02 21:18] #1485 closed, assigned to Iinh, alekhyamoz

[2022-03-03 23:16] edugfilho commented on #1841
We communicated the issue with the sqlite_store_* probes to the owners (Dave Townsend and Marco Bonardo) and it's currently being discussed in a email thread.

@rafrombrc just confirming: Do we wait for an outcome of the discussion or do we move on with this by removing the calculation of probes from the ETL like we discussed? In the latter case I'll close this issue and create an issue on bigquer

[2022-03-04 21:29] alekhyamoz commented on #1837
Hi @jrmuizel, as communicated with you, while this issue, to add the Distribution view to GLAM front-end UI, is being prioritized as part of our M6 milestone.
Meanwhile, I have developed [this redash query ](https://sql.telemetry.mozilla.org/queries/84626) that might be helpful.  It represents the GLAM's violin chart which is the TMO's Distribution view flipped 90 degrees.

[2022-03-09 16:52] Iinh commented on #1187
Do we know if there's a way to find probes that only have 1 histogram so far in prod? I'm currently using some test data to reproduce the Explore page with 1 data point locally, but I want to make sure that this issue also looks the same in production.

In case anyone's curious, this is how the page looks like with just 1 data point:

<img width="955" alt="Screen Shot 2022-03-09 at 11 52 09 AM" sr

[2022-03-09 18:00] rafrombrc commented on #1841
That's a good question. I'd say let's let them know that this is causing us operational pain, so we want to take _some_ action ASAP, and see if they're okay w us removing the probes from GLAM until they get it resolved. We can probably backfill the data after they get the probe fixed up, although we'd need to munge the data a bit to merge all of the unique filenames into whatever single key they c

[2022-03-10 16:16] alekhyamoz opened #1865 "Remove probes throwing "network error" from GLAM ETL"
This issue is a development effort related to research done in #1841.
There were 2 options to go about reducing the ETL and operational efforts pertaining to the "network error" probes
1. Quick and dirty, remove the probes from the ETL calculations
2. Long-term strategy, build an api that will be leveraged in the ETL to pick up the hot cached probe.

It was decided to go with option 1, as this eff

[2022-03-10 16:19] edugfilho commented on #1841
Tracking this issue on #1865
Closing

[2022-03-10 16:19] #1841 closed, assigned to edugfilho

[2022-03-12 18:41] alekhyamoz opened #1867 "'Network Error' for histogram type distributions in GLAM Fenix"
**Overview:**
There are 3 types of distribution metrics for glean products - timing distribution, custom distribution, and memory distribution.
[Here ](https://mozilla.github.io/glean/book/reference/metrics/)you can find further details on what each metric type captures.

**Observation**
I observed that all but for geckoview.page_load_time throw: _NetworkError when attempting to fetch resource._
S

[2022-03-12 20:33] #1867 closed, assigned to nobody

[2022-03-14 13:49] edugfilho opened #1870 "GLAM doesn't show data after `2022-03-08` (version=100)"
The data is available in the backend tables, but isn't displayed on the front-end:

![Screen Shot 2022-03-14 at 9 46 59 AM](https://user-images.githubusercontent.com/5804462/158185090-6cd5152f-de52-43c7-b346-cd33af5cade9.png)

When aggregated by Major Version, GLAM displays data up to 99
![Screen Shot 2022-03-14 at 9 47 58 AM](https://user-images.githubusercontent.com/5804462/158185246-835fd005-d1

[2022-03-14 18:19] #1870 closed, assigned to Iinh

[2022-03-15 18:20] jrmuizel opened #1875 "https://glam.telemetry.mozilla.org/firefox/probe/video_dropped_frames_proportion_exponential/explore? doesn't load"
I get "Oh no! The server encountered an error.
If you think this is a bug, report this on the [#glam](https://mozilla.slack.com/archives/CB1EQ437S) channel on Mozilla's Slack instance or in the [GLAM github repository](https://github.com/mozilla/glam/issues/new)."

[2022-03-15 18:28] whd commented on #1875
See https://mozilla-hub.atlassian.net/browse/DSRE-591 for status

[2022-03-16 04:55] whd commented on #1875
Closing in favor of upstream issue, which seems to be resolved.

[2022-03-16 04:55] #1875 closed, assigned to nobody

[2022-03-18 13:27] #1187 closed, assigned to Iinh

[2022-03-22 18:10] cmharlow opened #1886 "Create manage.py (or other) command for running db deletes & cleanup"
Sometimes the Glam postgres database needs some cleanup - like deleting old records.

I'd like to codify that so we can have this cleanup run regularly - either as part of the application deploy itself or as some sort of cronjob within each environment.

The questions:
* what are the requirements for Glam postgres records/row deletion or cleanup? e.g. can everything before a certain create date, f

[2022-03-22 23:11] cmharlow opened #1887 "Update Dockerflow Application Endpoints for Glam App"
According to the [Dockerflow specification](https://github.com/mozilla-services/Dockerflow) (a SRE practice that Glam somewhat follows currently), the Glam application should support 3 endpoints:

1. https://glam.telemetry.mozilla.org/__version__ (this currently fails missing a file)
2. https://glam.telemetry.mozilla.org/__heartbeat__ (this works but the check itself shows warning - we should unde

[2022-03-22 23:59] cmharlow opened #1888 "Repair / Annotate Models not managed by Django To Handle Migration Warnings"
During django migrations, the following warning appears:

[code]

The idea during triage of a different error is this is related to FOGAggregationView (which is not managed by Django).

This is a super low priority request, but it would be good to confirm this View is indeed the source of this warning, and to silent this warning (perhaps by updating the model with a 'managed=false' addition to the

[2022-03-23 00:21] cmharlow opened #1889 "Document & perhaps cleanup Glam App Database Structure"
Something that has come out of the past few weeks of handling Glam incidents is trying to understand the current state and desired future state(s) of the Glam DB postgres instance.

What could help here is to aggregate and update existing or create new docs on the DB structure (tables, views, indices, etc. & why they exist).

It could also help answer the very specific question of some tables that

[2022-03-23 00:47] cmharlow opened #1890 "Make future Materialized View changes revertible"
Something that came up in the past few weeks of Glam support is that a very big schema migration was not django-reversible - meaning we had to restore the database from a snapshot if the migration failed (timed out, errored out, whatever).

I'd like to ask the dev team to consider making these schema changes revertible in the future. The tricky issue is the required drop and recreate of the Materi

[2022-03-23 14:04] #1240 closed, assigned to Iinh, alekhyamoz

[2022-03-23 18:04] alekhyamoz commented on #1887
SRE to partner with dev team

[2022-03-23 18:06] alekhyamoz commented on #1888
Need set to 'abstract=True'

[2022-03-23 19:48] Iinh opened #1893 "Getting 404 data not found error for all Fenix metrics on stage and prod"
Locally and on dev everything is working fine. Stage and prod are getting the below error for all Fenix probes:

[dev](https://dev.glam.nonprod.dataops.mozgcp.net/fenix/probe/addons_has_enabled_addons/explore?activeBuckets=%5B%22never%22%2C%22always%22%2C%22sometimes%22%5D&aggType=avg&currentPage=1)

<img width="1029" alt="CleanShot 2022-03-23 at 15 59 26@2x" src="https://user-images.githubusercon

[2022-03-23 20:01] alekhyamoz opened #1894 "Remove probes throwing "network error" from GLAM backend"
Related to #1865
This issue tracks the work required for brainstorming, development required for prohibiting the probes from appearing in the front end.

[2022-03-23 20:01] alekhyamoz commented on #1865
Created ticket #1894 to track the work required for backend changes.

[2022-03-23 20:06] Iinh commented on #1893
Please disregard the "expired" expiry status warning; `addons.has_enabled_addons` is still active. This is a known bug and will be fixed after https://github.com/mozilla/glam/pull/1892 is merged.

[2022-03-23 20:31] cmharlow commented on #1893
so a few things:
1. this is duplicated in stage, and @Iinh yall all should have access to stage db (at least the gcp resources around it) right now for debugging.
2. i'm working in the private SRE ticket now to pin down the 404. It doesn't look to be a database issue. the app user can access & the data is present for the query you provided.

[2022-03-23 22:45] cmharlow commented on #1893
Temporary solution in place. Long term solution detailed in SRE ticket.

[2022-03-24 16:48] alekhyamoz commented on #1893
We have noticed that the bad app versions have been making it to the GLAM backend via the ETL.
I have put a quick fix in place [PR](https://github.com/mozilla/bigquery-etl/pull/2820)
The long term solution includes :
1. Identify the records in BQ that were the root cause of these bad versions and come up with a permanent fix
2. rewrite that view versions lookup to ignore the inaccurate versions. [

[2022-03-27 14:45] #1893 closed, assigned to nobody

[2022-03-28 13:16] alekhyamoz opened #1901 "Revisit/Rewrite view versions lookup to ignore the inaccurate versions."
The current implementation logic relies on the assumption that the version ids are increments for 1.
For Firefox: https://github.com/mozilla/glam/blob/a6f9c81722f6d2e4244945daebba19087ea8d5fe/glam/api/views.py#L75
For Fenix: https://github.com/mozilla/glam/blob/a6f9c81722f6d2e4244945daebba19087ea8d5fe/glam/api/views.py#L199

However, we ran into an issue where bad app_versions are being sent in th

[2022-04-06 16:28] edugfilho opened #1912 "Create component for collecting instrumentation data"
Sub-issue of #1847.

The scope of this issue is to quickly enable Glam to collect metrics on probe searching to help reduce GLAM ETL work.

Enable GLAM App back-end code to collect probe usage data from user requests and save it to a table.

- [x] Save basic probe searching info to a table
- [x] Create models (DB tables)
- [x] Create a component for data collection (back-end)
- [x] Create a servic

[2022-04-06 19:47] edugfilho opened #1913 "Ad-hoc probe calculation"
Sub-issue of #1847.

Enable GLAM to ad hoc build missing probes

Please refer to the [GLAM Instrumentation diagram](https://docs.google.com/document/d/1Vchl9q9BoeZU9UFioROXCVPdi488mxnJeGy2uL-Hv4o/edit#) for a view of the components

- [ ] Implement queue mechanism
- [ ] Implement Ad hoc probe builder
- [x] Implement /usage API Endpoint for serving usage info on probes
- [ ] Implement front-end but

[2022-04-06 22:18] #1894 closed, assigned to edugfilho

[2022-04-06 22:25] edugfilho commented on #1865
Closing this since all sub-issues were also closed

[2022-04-06 22:25] #1865 closed, assigned to edugfilho, alekhyamoz

[2022-04-07 01:18] jrmuizel opened #1914 "VIDEO_DROPPED_DECODED_FRAMES_PROPORTION_EXPONENTIAL missing from GLAM"
This probe, as well as VIDEO_DROPPED_SINK_FRAMES_PROPORTION_EXPONENTIAL and VIDEO_DROPPED_COMPOSITOR_FRAMES_PROPORTION_EXPONENTIAL were added a number of days ago in https://hg.mozilla.org/mozilla-central/rev/ac698a0182d7

[2022-04-07 11:29] badboy commented on #1914
This is a bug in probe-scraper. New probes are currently not scraped from the repository. See https://github.com/mozilla/probe-scraper/pull/412

[2022-04-11 19:16] edugfilho commented on #955
Hi!
Sorry I don't speak front-end really well so I'm trying to understand the changes we want to make. I noticed the release markers are implemented in [FirefoxReleaseVersionMarkers.svelte](https://github.com/mozilla/glam/blob/9dec1a85e8b3a9cc861d108db236f36283a4161c/src/components/FirefoxReleaseVersionMarkers.svelte#L17), and that that component gets its data from [product-versions.js](https://gi

[2022-04-11 21:06] Iinh commented on #1914
Hi @jrmuizel, this issue is now fixed (thanks for your patience)! See the below links for these probes:

- https://glam.telemetry.mozilla.org/firefox/probe/video_dropped_decoded_frames_proportion_exponential/explore?currentPage=1
- https://glam.telemetry.mozilla.org/firefox/probe/video_dropped_sink_frames_proportion_exponential/explore?currentPage=1
- https://glam.telemetry.mozilla.org/firefox/pro

[2022-04-11 21:06] #1914 closed, assigned to nobody

[2022-04-11 23:03] Iinh commented on #955
No, there shouldn't be, because we're only changing the code logic inside the component to be per `$store.product`. Per @robhudson 's comment:

`backend` tag is removed.

That sounds good! Another way to implement this could be:

- change `FirefoxReleaseVersionMarker `name to something more generic, like `ReleaseVersionMarker`
- in `ReleaseVersionMarker` component, add a condition statement to che

[2022-04-12 13:56] edugfilho commented on #955
Clear and thorough. Thank you so much for this, Linh!

[2022-04-12 16:44] #1809 closed, assigned to Iinh

[2022-04-12 22:01] edugfilho commented on #1888
I wonder  why [FenixAggregationView](https://github.com/mozilla/glam/blob/17b5e1576f9c083610c30caa319b57596262d06a/glam/api/models.py#L79), which is similar, doesn't behave the same way.

[2022-04-13 17:51] #955 closed, assigned to edugfilho

[2022-04-13 18:51] Iinh opened #1929 "Formulate a strategy for non-normalized distribution"
In order to decommission TMO successfully, we need to make sure that all TMO needs are covered by GLAM. Since TMO does non-normalized aggregations, and GLAM does not, and from recent discussions, we know that there is a clear need for the non-normalized distribution, we need to figure out how we can make this happen in GLAM.

Some suggestions from @rafrombrc:
- let the etl double calculate? this i

[2022-04-14 18:44] jrmuizel opened #1932 "No data shows up for MEDIA_DECODER_BACKEND_USED"
Compare:
https://glam.telemetry.mozilla.org/firefox/probe/media_decoder_backend_used/explore?currentPage=1

vs
https://telemetry.mozilla.org/new-pipeline/dist.html#!cumulative=0&end_date=2022-03-08&include_spill=0&keys=__none__!__none__!__none__&max_channel_version=nightly%252F99&measure=MEDIA_DECODER_BACKEND_USED&min_channel_version=null&processType=*&product=Firefox&sanitize=1&sort_by_value=0&so

[2022-04-14 20:23] #1851 closed, assigned to Iinh

[2022-04-19 14:04] travis79 opened #1938 "Add missing "Utility" process to process selections"
**Describe the bug**
Currently the [process constants](https://github.com/mozilla/glam/blob/17b5e1576f9c083610c30caa319b57596262d06a/glam/api/constants.py#L39) are missing the "Utility" process as a selection

**Expected behavior**
The "Utility" process should be included in the list of processes to select from and then filter appropriately

[2022-04-20 16:45] Iinh opened #1941 "Fix wrong version number in FOG data"
While testing FOG probes on dev I noticed something's wrong with the Glean data: the version number for all FOG metrics is `1024` (instead of the standard Firefox versions 98, 99, 100, etc.)

- [glean_baseline_duration](http://-%20https//dev.glam.nonprod.dataops.mozgcp.net/fog/probe/glean_baseline_duration/explore?aggType=avg&aggregationLevel=version&currentPage=1&ping_type=*)
- [fog_initializatio

[2022-04-20 16:58] Iinh commented on #1932
Hi @jrmuizel, we do have data for this probe with the GPU process specifically.

![CleanShot 2022-04-20 at 12 56 28@2x](https://user-images.githubusercontent.com/28797553/164283510-75f85a7f-0bac-4db1-be40-8beb40573563.png)

https://glam.telemetry.mozilla.org/firefox/probe/media_decoder_backend_used/explore?activeBuckets=%5B%222%22%2C%220%22%2C%221%22%2C%223%22%2C%224%22%2C%225%22%2C%226%22%2C%227%

[2022-04-20 19:04] Iinh opened #1942 "Provide better error message when landing on a probe with no data"
Sometimes users can land on a probe with a set of dimensions that doesn't return any data. For example, as reported in #1932, while we do have data for that probe, the user needs to change the process dimension first to see it. This can be quite disorienting. At the very least, we should add more details to the 404 error message, i.e. "Currently this probe doesn't have data for this set of dimensi

[2022-04-20 19:05] #1932 closed, assigned to nobody

[2022-04-25 19:29] #1912 closed, assigned to edugfilho

[2022-04-25 19:36] edugfilho commented on #1913
In case we don't have enough data to bootstrap this feature, we should use data that powers the [usage dashboard](https://datastudio.google.com/reporting/3429ad77-f128-4063-bdc1-3d2ae54ad6ad/page/N124B)

[2022-04-25 19:37] edugfilho commented on #1912
I will test this on dev and check if metrics are properly collected and served there.

When this gets deployed to prod we will start collecting metrics there and it will be useful to accumulate prod data even though we can't use it to reduce ETL effort yet, because once we can we'll have more data to work with (see comment on #1913 )

[2022-04-26 13:31] #346 closed, assigned to Iinh

[2022-04-29 16:48] edugfilho opened #1954 "Missing data for existing probe data_privacy_dfpi_rollout_enabledbydefault"
The probe in question is active but Glam's backend has not data for it, thus responds with a 404 when queried

[2022-04-29 17:29] edugfilho commented on #1954
Glam actually has data for this probe. The reason why it's not being able to fetch it is twofold:
- in the DB the probe name is `privacy_dfpi_rollout_enabled_by_default`, while the query looks for `privacy_dfpi_rollout_enabledbydefault` (no underscores in 'enabled_by_default')
- the `process` field under which the data is on the DB is `parent` and the front end is asking for `content` (default beh

[2022-04-29 18:11] edugfilho opened #1955 "View SQL Query filtering for `process=""` for probes not found"
When a probe is not found, the [The SQL window](https://github.com/mozilla/glam/blob/28e8fa00a302d4ec92ece77a51c9206265440ec7/src/components/SqlModal.svelte#L45) populates the `process` filter with an empty string, which is not good because that filter prevents us from finding anything for that probe on Redash.

Granted, most of the time when a probe is not found it is not going to be on Redash ei

[2022-04-29 20:09] edugfilho commented on #1954
Investigating the inconsistency with this probe's name:
GLAM ETL uses the schema of `moz-fx-data-shared-prod.telemetry_stable.main_v4` and [probe info api](https://probeinfo.telemetry.mozilla.org/firefox/all/main/all_probes) to discover probes to build.

* Name on probeinfo:  `privacy.dfpi_rollout_enabledByDefault`
* Name on _moz-fx-data-shared-prod.telemetry_stable.main_v4_: `privacy_dfpi_rollout

[2022-04-29 22:05] edugfilho commented on #1954
Glam ETL [snake_cases scalar probe names](https://github.com/mozilla/bigquery-etl/blob/d79e41a17afc0d3c8958b7645c4c70b2a57521c7/sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_scalar_aggregates_v1.sql.py#L452) in a way that [even camelCase names are snake_cased](https://github.com/mozilla/bigquery-etl/blob/812ceb540ebb1f3f542304cf6c5df43a2be4a3dc/bigquery_etl/util/common.py#L27) while

[2022-04-29 22:05] #1954 closed, assigned to edugfilho

[2022-04-29 22:38] edugfilho opened #1956 "Glam ETL probe name snake_casing is incompatible with Glam's for scalar probes"
spinoff of [glam#1954](https://github.com/mozilla/glam/issues/1954)

Glam ETL [snake_cases scalar probe names](https://github.com/mozilla/bigquery-etl/blob/d79e41a17afc0d3c8958b7645c4c70b2a57521c7/sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_scalar_aggregates_v1.sql.py#L452) in a way that [even camelCase names are snake_cased](https://github.com/mozilla/bigquery-etl/blob/812ceb540eb

[2022-05-01 19:53] edugfilho commented on #1956
Trying to fix this today I realized this is beyond Glam, because the probe name returned by Glean Dictionary is already completely lower-cased, so things like _"camelCasedProbeName"_ come back as _"camelcasedprobename"_ (while in  Glam DB such name would be _"camel_cased_probe_name"_) so we can't properly snake_case the name anymore.

I don't have a lot of knowledge on Glean Dictionary, but lookin

[2022-05-03 12:44] Iinh commented on #1956
Great investigation work @edugfilho! I'm going to work on adding the probe id to the Glean Dictionary API search results.

[2022-05-03 13:15] edugfilho commented on #1956
awesome. Thank you!
I'll have the changes to use the id ready in Glam so when it's available I'll test and open a PR

[2022-05-03 14:33] #1955 closed, assigned to Iinh

[2022-05-03 16:17] Iinh commented on #1956
Glean Dictionary prod API should return legacy probes with id now. For example: https://dictionary.telemetry.mozilla.org/api/v1/metrics_search_fog_and_legacy?search=privacy

[2022-05-03 16:34] edugfilho commented on #1956
awesome! thanks @Iinh

[2022-05-04 20:14] Iinh commented on #1807
We're trying to figure out the most optimal way to show non-normalized aggregations in GLAM, in addition to the current data that's aggregated by client id. Updates on this issue will be posted in #1929.

[2022-05-04 20:15] Iinh commented on #1126
We're trying to figure out the most optimal way to show non-normalized aggregations in GLAM, in addition to the current data that's aggregated by client id. Updates on this issue will be posted in #1929.

[2022-05-05 17:51] edugfilho commented on #1912
@Iinh this is tested in Dev and looking good to go to staging

[2022-05-05 17:57] Iinh commented on #1912
Nice! Thanks for the update @edugfilho

[2022-05-05 18:32] akkomar commented on #1941
It looks like we're getting FOG pings from clients that report their version number as ` 1024.0.0 `.

ETL jobs filter for pings from the [last 3 versions we've seen](https://github.com/mozilla/bigquery-etl/blob/main/sql/glam-fenix-dev/glam_etl/firefox_desktop_glam_nightly__clients_scalar_aggregates_v1/query.sql#L146), so [on the days when in the last month we've seen more than 5 clients](https://g

[2022-05-05 19:31] #1956 closed, assigned to edugfilho, Iinh

[2022-05-05 20:38] chutten commented on #1941
Looks like you may need to re-save that last query. It has no results. : )

FOG gets its app version from the same place Telemetry does, so it should suffer from identical failings... modulo the difference in timing. "baseline" pings are sent earlier and more frequently than "main" pings so may access the data at a different time and repeat it more frequently.

[2022-05-05 20:47] chutten commented on #1941
Hrm. Maybe a 1% sample is too small to find v1024, but from this look "main" pings don't show v1024: https://sql.telemetry.mozilla.org/queries/85688/source

(( they do show 99.0, 100.0, 91.0, and 98.0.2 though ))

[2022-05-06 07:02] akkomar commented on #1941
Done.

I switched this query to the full main ping table - still no v1024.

[2022-05-06 13:31] chutten commented on #1941
Well, poo. Looks like there's definitely something to investigate. I've filed https://bugzilla.mozilla.org/show_bug.cgi?id=1768187 for the investigation, but don't let this stop you from filtering this subset out in the meantime.

Thank you for bringing this to my attention!

[2022-05-06 15:31] jrmuizel opened #1968 "Telemetry SQL for boolean probes seems wrong"
Getting the "Telemetry SQL" for https://glam.telemetry.mozilla.org/firefox/probe/webrtc_h264_enabled/explore?activeBuckets=%5B%22yes%22%2C%22no%22%5D&currentPage=1&os=Windows gives a query that produces a value of 1 for all the percentiles.

[2022-05-10 12:01] akkomar commented on #1941
After some investigations I don't think this is the right thing to do. It seems like `client_info.app_display_version` reported by FOG cannot be reliably matched to `build.target.version` published in Buildhub.
These values do not exactly match for release candidate builds - versions reported in FOG telemetry have their suffixes stripped. For example, beta build with `build.target.version = 100.0b

[2022-05-11 07:57] akkomar commented on #1941
This was implemented in https://github.com/mozilla/bigquery-etl/pull/2957, merged and successfully ran today. I will now work on backfilling ETL tables. Next step would be to do an import to the dev environment for verification.

[2022-05-12 10:35] akkomar opened #1974 "Consider partitioning clients_histogram_aggregates_new_v1 by day"
[clients_histogram_aggregates_new_v1](https://github.com/mozilla/bigquery-etl/blob/main/sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_new_v1/query.sql), which is a part of [legacy telemetry GLAM ETL](https://github.com/mozilla/telemetry-airflow/blob/836e92a758d8c0d4594a09642eb75d9676799aa2/dags/glam_subdags/histograms.py#L25), is not partitioned by day which makes mult

[2022-05-12 10:45] akkomar opened #1975 "Consider running clients_histogram_bucket_counts subtasks concurrently"
[clients_histogram_bucket_counts](https://github.com/mozilla/telemetry-airflow/blob/92a3facf74a112a7f23e4346ce5a6531e8fcc88a/dags/glam.py#L258) is the most expensive task in the legacy telemetry DAG. It's subtasks are running sequentially due to some technical limitations of concurrent writes to a single table.

We can try checking if we could run these subtasks concurrently by writing their outpu

[2022-05-24 16:05] Iinh commented on #1941
Thanks @akkomar for working on this. I imported a fresh batch of GLEAN data today (`./manage.py import_glean_aggs`) to test, however I'm still seeing `1024` listed as version for some FOG metrics such as [glean_baseline_duration](http://-%20https//dev.glam.nonprod.dataops.mozgcp.net/fog/probe/glean_baseline_duration/explore?aggType=avg&aggregationLevel=version&currentPage=1&ping_type=*), [fog_init

[2022-05-24 17:37] akkomar commented on #1941
@Iinh I am running the backfill right now, I'll let you know when that's ready.

[2022-05-25 12:59] akkomar commented on #1941
Backfill has finished.

[2022-05-30 15:00] edugfilho opened #2000 "Update Telemetry SQL query to use new percentiles"
The Telemetry SQL query is missing the following percentiles that should be added:
(0.001, 0.01, 0.99 and 0.999)

[2022-05-30 15:01] edugfilho commented on #1968
When I add the missing percentiles (0.001, 0.01, 0.99 and 0.999) I notice that for the first two percentiles we have 0's. Doing a quick comparison with the data fed to glam UI the result of the query seems to match it. I'll run a more formal test on this, but in any case we should [update the "Telemetry SQL" queries to use the percentiles above](https://github.com/mozilla/glam/issues/2000).

[2022-06-01 13:56] #1941 closed, assigned to akkomar

[2022-06-01 17:55] Iinh opened #2003 "FoG client count is much lower than expected"
The client count for FOG metrics does not look right.

For example:

<img width="987" alt="Screen Shot 2022-06-01 at 1 49 33 PM" src="https://user-images.githubusercontent.com/28797553/171470091-d5785bdf-c842-4af2-b204-9521536ef1e0.png">

On May 30, `nightly` channel, [wr.rasterize_glyphs_time](https://glam.telemetry.mozilla.org/fog/probe/wr_rasterize_glyphs_time/explore?aggType=avg&currentPage=1&

[2022-06-01 20:41] edugfilho commented on #2003
It looks like [here](https://github.com/mozilla/bigquery-etl/blob/c7049d8d52cee977713cdd4a9b955c3057b3146b/bigquery_etl/glam/templates/probe_counts_v1.sql#L71) is where the ETL calculates `total_users'  for FOG and [here](https://github.com/mozilla/bigquery-etl/blob/c7049d8d52cee977713cdd4a9b955c3057b3146b/sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_probe_counts_v1/query.sql#L3

[2022-06-01 23:22] relud commented on #2003
The dates being referenced here are not the date the probe was submitted, they are the `app_build_id` that submitted the probe

[2022-06-01 23:27] relud commented on #2003
it is more accurate to say that app_build_id `2022053009` only recorded 63 clients ~~on the most recent run date of `2022-05-31`~~

[2022-06-01 23:43] relud commented on #2003
Changing aggregation level from `Build ID` to `Major Version` causes all sorts of weirdness because the page doesn't correctly filter the inputs to `WHERE app_build_id = "*"`, so there are multiple results per major version and it seems to be randomly selecting a value.

[2022-06-01 23:56] Iinh commented on #2003
I'll look into it.

[2022-06-02 01:08] relud commented on #2003
I believe the problem here is that `bigquery_etl/glam/templates/clients_histogram_aggregates_v1.sql` doesn't correctly handle `NULL` when merging `histogram_aggregates`, causing `histogram_aggregates` to be emptied any time a client is not continuously active. https://github.com/mozilla/bigquery-etl/pull/3006

[2022-06-02 17:15] relud commented on #2003
I'm working on backfilling this using the backfill-slots project

[2022-06-02 20:08] relud commented on #2003
I'm still working on backfilling all impacted tables, but backfill for firefox_desktop nightly is complete

@Iinh this page should be correct now: [wr.rasterize_glyphs_time](https://glam.telemetry.mozilla.org/fog/probe/wr_rasterize_glyphs_time/explore?aggType=avg&currentPage=1&ping_type=*&visiblePercentiles=%5B99.9%2C99%2C95%2C75%2C50%2C25%2C5%5D)

[2022-06-06 18:06] relud commented on #2003
I completed the backfill, but clients volume still seems off for [release](https://glam.telemetry.mozilla.org/fog/probe/wr_rasterize_glyphs_time/explore?aggType=avg&app_id=release&currentPage=1&ping_type=*&visiblePercentiles=%5B99.9%2C99%2C95%2C75%2C50%2C25%2C5%5D).

[2022-06-08 16:50] Iinh commented on #2003
I did notice that the client count is really high for release, compared to nightly and beta (millions vs thousands). [Querying in STMO](https://sql.telemetry.mozilla.org/queries/86234/source#213540) shows that the high client count for release we see in GLAM is in line with what we should expect. I'm not clear on how this metric is instrumented, wondering if @chutten or anyone on the Glean team (@

[2022-06-09 11:20] badboy commented on #2003
Also seems off for Nightly and Beta still?

But that general trend seems correct, but the numbers are off.
Right now on GLAM it says 182 clients for nightly still.
Your STMO query shows numbers that I would expect and at least for release the clients with rasterize data seems to be on an uptick, much like any rollout graph.
The metric is recorded in [some webrender code](https://searchfox.org/mozi

[2022-06-09 16:22] #2000 closed, assigned to edugfilho

[2022-06-10 16:38] edugfilho commented on #1968
After confirming that the reason for seeing 1s in all percentiles' values was because of the missing percentiles, I applied the fix above, but it's not yet in prod.

@jrmuizel  in the meantime if you would like to test the fixed query and let us know, here it is:
[code]

[2022-06-22 16:26] Iinh commented on #1968
Closing this ticket now because #2000 is now in prod.

[2022-06-22 16:26] #1968 closed, assigned to edugfilho

[2022-06-23 18:37] edugfilho opened #2029 "Investigate which use counters are inactive and why, and serve them on Glam"
Glam is currently not serving some use counters (see screenshot below) due to them being inactive.
A recent request on the Glam Slack channel brought to our attention that having them on Glam would be extremely useful for comparing them with other counters.

<img width="577" alt="Screen Shot 2022-06-23 at 2 33 32 PM" src="https://user-images.githubusercontent.com/5804462/175370561-340d7297-4108-43

[2022-06-23 18:41] edugfilho commented on #2029
Contribution by @Iinh:
* Glean Dictionary marks a probe as inactive when it doesn't see it recorded in the [Client Probe Processes public dataset](https://github.com/mozilla/glean-dictionary/blob/b6c1fccb8c108576eae1b45a0dd8e84e964ce8d7/etl/firefox_legacy_etl.py#L12-L15)
* Traversing the dependency tree of the [source table](http://-%20https//mozilla.github.io/bigquery-etl/mozdata/telemetry/#clien

[2022-06-24 17:29] moztcampbell opened #2031 "Allow determining precise bucket values in the compare panel"
Example: https://glam.telemetry.mozilla.org/firefox/probe/gc_budget_overrun/explore?currentPage=1&ref=20220410213958&timeHorizon=ALL&visiblePercentiles=%5B50%5D

There is an interesting cliff on the histograms visible in the compare view. I'd like to find out the bucket ranges to understand where the cutoff between the two behaviours might be, but I'm not sure in the current UI.

In this case, kno

[2022-06-24 17:52] moztcampbell commented on #2031
The work around (from Rob Miller) was to use the compare-in-STMO option to get an alternate way to look see buckets. This solved my immediate question.

[2022-06-28 17:00] #1837 closed, assigned to Iinh

[2022-06-29 17:34] Iinh commented on #2029
Digging through old resources I found this diagram for legacy etl (this one is from a [data club talk](https://docs.google.com/presentation/d/1wl9TOLm4AAWYk1n7-YBeiWmXwjGv1diKxxln5f13uho/edit#slide=id.ga92241ec0c_1_1471) that @emtwo gave a while ago):

<img width="1265" alt="CleanShot 2022-06-29 at 13 24 48@2x" src="https://user-images.githubusercontent.com/28797553/176498536-5eee4e08-87ce-4cd1-b9

[2022-06-29 19:31] edugfilho opened #2039 "Ad hoc probe builder - front-end"
spin-off of #1913
Implement the front-end mechanism that triggers a new ad hoc computation for a probe.

* When a probe isn't found on glam's backend, a button to build the probe ad hoc should be presented to the user, along with the following information:
  * This probe needs to be built first. Please follow the instructions below to do so
  * Building a probe may take up several minutes (once we

[2022-06-29 20:12] edugfilho opened #2040 "Ad hoc probe builder - API"
Create an API endpoint to handle ad hoc probe jobs with the following verbs

- POST: submits a new ad hoc job
- GET: retrieves status information on a ad hoc job

[More info and reference](https://docs.google.com/document/d/1Vchl9q9BoeZU9UFioROXCVPdi488mxnJeGy2uL-Hv4o/edit#heading=h.vyy59poeryua)

[2022-06-29 21:02] edugfilho commented on #1913
The remainder of this task was too big to be tracked efficiently and was broken down into different tasks:
Queue mechanism + ad hoc probe builder: #2040
Front-end button: #2039

[2022-06-29 21:02] #1913 closed, assigned to edugfilho

[2022-06-30 18:07] edugfilho commented on #2029
Seems like that list is build dynamically and it looks like [this part](https://github.com/mozilla/bigquery-etl/blob/d9e0c2abaab6feb13b7bde47a9493fa91013d880/sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_histogram_aggregates_v1.sql.py#L467) is responsible for bringing all the probes that are going to make that list.
What the code above does is include the probe in the list if the pro

[2022-07-05 19:07] rafrombrc opened #2046 "Investigate Mar/Apr desktop histogram client counts dip"
In a recent [Slack thread](https://mozilla.slack.com/archives/CB1EQ437S/p1656080772950889) tcampell reported that we saw about half as many client ids for multiple `Histograms.json` probes in Mar/Apr 2022. We don't yet know what has caused this. Timing is around release of Firefox 100, which has caused a number of other issues, so we should keep that in mind as possibly related.

[2022-07-05 19:59] edugfilho commented on #2029
Seems like the reason Glam does not process the probe  `use_counter2_deprecated_math_ml_deprecated_stixgeneral_operator_stretching_document` is because the probe data does not have enough client submissions, which would make the aggregation done on the data show potentially unreliable information:

![](https://user-images.githubusercontent.com/28797553/176498536-5eee4e08-87ce-4cd1-b9f9-416ca2c2985

[2022-07-05 20:12] edugfilho commented on #2029
closing the issue with the end of this investigation

[2022-07-05 20:12] #2029 closed, assigned to edugfilho

[2022-07-08 12:09] akkomar commented on #2046
Another issue filed about this: https://mozilla-hub.atlassian.net/browse/DO-835

[2022-07-11 15:42] #1887 closed, assigned to Iinh

[2022-07-12 16:16] #1942 closed, assigned to Iinh

[2022-07-13 16:47] Iinh commented on #628
We just had a user interview with Bas recently and he also asked for this feature. Let's make it a priority for M8.

[2022-07-13 17:03] edugfilho opened #2053 "Make glam links aware of chart hovered point, for sharing"
Suggestion by Bas, during interview
When sharing Glam analysis it'd make things easier if the chart reference was embedded in the url.

[2022-07-13 17:21] edugfilho opened #2054 "Interpolate bucket values on chart for more intuitive interpretation"
Suggested by Bas during interview.
When percentile values oscillate around the edge of their buckets over time it makes the chart show frequent small spikes like the one below. According to Bas, this is harder to parse compared to a smooth, interpolated transition from one bucket to another. We should check with Data Science the right way to do bucket interpolation and, if any, the trade-offs of s

[2022-07-13 17:24] Iinh commented on #2003
Pulling @akkomar in to take a further look at this issue as he's been looking at the etl code more closely. (thanks Arkadiusz!)

[2022-07-13 17:31] edugfilho opened #2055 "Violin plot is too small"
Suggested by Bas, during interview
We have to discuss a solution for this one; so far we learned the violin plot is not big enough for some analysis, and for the same reason we can't add some functionalities to it, such as displaying the bucket over which the user is currently hovering the mouse.
 - We can't simply make it bigger because that would impact the page UI as a whole.
 - @rafrombrc sugg

[2022-07-13 17:36] Iinh commented on #1889
Just opened a Google [doc](https://docs.google.com/document/d/1b_lwNc2yp1_y0kEhnM8qYJzlAteu-Jh5olz6vCIzliQ/edit#) to start the work on this. I'm going to look for various docs that are scattered through space and time to gather all the info we have so far on the Glam database (and more if appropriate).

Will ask for a review once I have something acceptable-looking. Then we can start moving it to

[2022-07-13 17:39] Iinh commented on #2053
I think we already have the reference point in our URL. We still need to encode the hovered point, which essentially provides the users a feature to do "sticky hov" and freeze the comparison view in both the violin plot and summary chart (right now the values for hov disappear if cursor is off the chart).

[2022-07-13 17:42] edugfilho opened #2056 "Add CDF compare to histogram metrics"
Suggested by Bas, during interview

It would be useful to have a Cumulative Distribution Function (CDF) in Glam in order to evaluate the growth/recession of a metric over time.

As an example, at the bottom left of [this STMO visualization](https://sql.telemetry.mozilla.org/dashboard/test_38?p_Build%201=20220624214101&p_Build%202=20220602214637&p_Days%20to%20Query=7&p_OS%20Filter=%20&p_Probe=paylo

[2022-07-13 17:44] Iinh commented on #2055
This is related to #2031.

[2022-07-13 17:48] edugfilho commented on #2053
You're right, Linh. Thank you for the correction!

[2022-07-13 22:06] perrymcmanis144 commented on #2054
My intuition is that between "leave as is" and "interpolate" it might unfortunately be preferable to leave as is. But those are the extreme examples. Interpolating potentially creates a delay in seeing changes and adds a layer of complexity to the interpretation. That said, I do not think it is a bad idea if there were an option to select a 'smoothed' version and a 'real time' version.

Is it fair

[2022-07-29 03:00] tomrittervg opened #2067 "Probe labeled as inactive"
I [put these probes in a few releases ago](https://searchfox.org/mozilla-central/rev/1061fae5e225a99ef5e43dbdf560a91a0c0d00d1/dom/base/UseCounters.conf#123-125).  Neither one of them has any data in GLAM, and one is labeled as inactive.  Neither probe appears in tmo either.

I'm not sure why they have no data (I have to imagine _one person_ has used this feature in the past several releases) nor d

[2022-08-01 13:55] Iinh opened #2073 "Unable to close drop-downs if multiple menus are open at the same time"
This is a UI bug. When many menus are open at the same time, we can't close them properly.

<img width="1212" alt="screen_shot_2022-07-29_at_2 49 59_pm" src="https://user-images.githubusercontent.com/28797553/182163641-a6f9063b-3831-4f63-a5b9-7e64eeacc164.png">

(I thought we already had an issue open for this, but couldn't locate it. Please close this ticket if it's a dupe.)

[2022-08-01 14:11] Iinh commented on #2067
Hi @tomrittervg, just checking if I understand your question correctly. Are these the 2 probes in question?

- [use_counter2_xslstylesheet_document](https://glam.telemetry.mozilla.org/firefox/probe/use_counter2_xslstylesheet_document/explore?activeBuckets=%5B%22no%22%2C%22yes%22%5D&currentPage=1)
- [use_counter2_xslstylesheet_page](https://glam.telemetry.mozilla.org/firefox/probe/use_counter2_xsls

[2022-08-01 18:32] tomrittervg commented on #2067
That is one of the probes, [the first one](https://searchfox.org/mozilla-central/rev/c2a2bf5a49626d63c4c0a5be42b6a93838c1b595/dom/base/UseCounters.conf#124).  The pages for these are concerning - there isn't a single 'Yes' report.  Is that to be believed?

Here is the other one: [one](https://glam.telemetry.mozilla.org/firefox/probe/use_counter2_xsltprocessor_constructor_document/explore?activeBuc

[2022-08-03 02:20] Iinh commented on #565
String scalars are now available on GLAM. For example:

- https://glam.telemetry.mozilla.org/firefox/probe/blocklist_mlbf_generation_time/explore?currentPage=1
- https://glam.telemetry.mozilla.org/firefox/probe/deletion_request_context_id/explore?currentPage=1
- https://glam.telemetry.mozilla.org/firefox/probe/a11y_instantiators/explore?currentPage=1

Most of them are marked as inactive. After inv

[2022-08-03 02:20] #565 closed, assigned to Iinh

[2022-08-03 18:34] edugfilho commented on #2040
We will not do this work anymore as we decided to have Glam compute new probes only during ETL

[2022-08-03 18:34] #2040 closed, assigned to edugfilho

[2022-08-03 18:35] edugfilho commented on #2039
We will not do this work anymore as we decided to have Glam compute new probes only during ETL

[2022-08-03 18:35] #2039 closed, assigned to edugfilho

[2022-08-09 15:18] Iinh opened #2083 "Extend "View telemetry SQL" feature to Glean metrics"
In GLAM, telemetry probes come with a "View SQL" feature in which we provide telemetry, distribution, and glam SQL templates to be used for further analysis in STMO. This feature is not available for Glean metrics yet (Fenix only has glam template).

Let's provide this feature for Glean metrics, specifically:

- timing_distribution
- memory_distribution
- custom_distribution
- boolean
- counter
-

[2022-08-09 19:15] Iinh commented on #2067
Thanks for your patience. Here is my investigation so far.

To provide more clarity why some probes are labeled `inactive`, even when they have not expired. GLAM marks a probe as inactive when we don't see enough data. Specifically, if we don't see at least 0.5% of weekly active users for a build, we don't aggregate that probe. This was designed to make it hard for respins and other low-volume bui

[2022-08-10 16:48] Iinh commented on #2083
Some queries that @alekhyamoz wrote for the ad-hoc probe builder.

Desktop:
- [Histogram](https://sql.telemetry.mozilla.org/queries/84723)
- [Keyed Histogram](https://sql.telemetry.mozilla.org/queries/84931)
- [Scalar](https://sql.telemetry.mozilla.org/queries/84956)
- [Keyed scalar](https://sql.telemetry.mozilla.org/queries/84960)

Glean:
- [Timespan](https://sql.telemetry.mozilla.org/queries/849

[2022-08-10 18:22] edugfilho commented on #1929
The strategy is to finish the hotlist-driven ETL and introduce the non-normalized calculations to the ETL, then finally add a toggle (similar to the sample count) to the graph to switch between the normalized and non-normalized version.

Our target is to get this done and have TMO turned off by end of H1 '23 latest (end of April)

[2022-08-10 18:22] #1929 closed, assigned to nobody

[2022-08-10 19:19] edugfilho opened #2085 "Toggle visualize non-normalized aggregations"
Once [non-normalized aggregations](https://github.com/mozilla/bigquery-etl/issues/3139) are available we want to have Glam display them in a toggle fashion, such as the _view sample count_ option.

* Is blocked by [bigquery-etl#3139](https://github.com/mozilla/bigquery-etl/issues/3139)
* Blocks #1126 and #1807

[2022-08-10 19:22] edugfilho commented on #1126
The solution to this will be implemented in #2085.
@mstange please subscribe to the issue above to continue to receive updates on this issue!
Closing this ticket as a duplicate

[2022-08-10 19:22] #1126 closed, assigned to nobody

[2022-08-10 19:23] edugfilho commented on #1807
The solution to this will be implemented in https://github.com/mozilla/glam/issues/2085.
@jrmuizel please subscribe to the issue above to continue to receive updates on this issue!
Closing this ticket as a duplicate

[2022-08-10 19:23] #1807 closed, assigned to nobody

[2022-08-10 19:31] Iinh opened #2086 "Create STMO dashboards for all supported probe types"
As the first step to #2083, let's create STMO dashboards for all probe types that we support in GLAM. Once we have that available, we can link to them from the View SQL pop up window. This list includes:

Telemetry Histograms:

- [ ] exponential
- [ ] linear
- [ ] boolean
- [ ] categorical
- [ ] enumerated
- [ ] flag
- [ ] count
- [ ] keyed histogram

Telemetry Scalars

- [ ] regular scalars
- [ ]

[2022-08-10 19:35] Iinh commented on #1073
@scholtzan since you're now in charge of operational monitoring, do you think this is something we can tackle with op mons in Looker instead? If it's feasible then we can move this ticket to Jira.

[2022-08-11 13:06] scholtzan commented on #1073
Yes, it sounds more feasible in opmon, however opmon would also be showing percentiles. I can create a ticket though to investigate

https://github.com/mozilla/opmon/issues/45

[2022-08-17 18:44] edugfilho commented on #1888
Fixed in https://github.com/mozilla/glam/pull/2084

[2022-08-17 19:03] Iinh commented on #2067
We were able to confirm this is not a GLAM issue. `use_counter2_xsltprocessor_constructor` probes are not being triggered correctly hence the NULL data, which led to them being marked as inactive. Further digging is needed to really understand whether there's something to be done about the specific implementation of this probe, or  `use_counter2` mechanism. These separate issues will be raised wit

[2022-08-17 19:03] #2067 closed, assigned to nobody

[2022-08-17 20:10] Iinh opened #2094 "Investigate why sample count graph disappears for some probes"
![CleanShot 2022-08-17 at 16 12 13@2x](https://user-images.githubusercontent.com/28797553/185233892-50430c31-e988-4637-a1fd-38dbf2899583.png)

[2022-08-17 20:14] Iinh opened #2095 "Large numbers on y-axis are not shown properly"
This problem is very clear when the number is bigger than 100mil. See:
<img width="1031" alt="CleanShot 2022-08-17 at 16 13 04@2x" src="https://user-images.githubusercontent.com/28797553/185234171-853acd9f-f0ad-426e-a6e2-bfc5fd9bd649.png">

[2022-08-18 20:27] chutten opened #2096 "Feature Request: Include Glean Error Reporting Mechanism error volume data for Glean metrics"
Glean has a built-in error reporting mechanism that reports when there was a problem in the way the instrumentation used the metric. Things like recording a value that's too long or too large or negative or otherwise unsuitable in a way we couldn't enforce in the API.

It [has docs](https://mozilla.github.io/glean/book/user/metrics/error-reporting.html).

It'd be really nice to include volumes of

[2022-08-24 17:46] Iinh commented on #2094
Strangely, I can't reproduce this behavior locally.

[2022-08-24 17:50] Iinh commented on #1841
We're running into a similar issue with [browser_ui_interaction_content_context](https://glam.telemetry.mozilla.org/firefox/probe/browser_ui_interaction_content_context/explore?channel=release&currentPage=1&process=parent), though the server error is intermittent. Also see [DSRE-972](https://mozilla-hub.atlassian.net/browse/DSRE-972) current SRE response.

[2022-08-24 17:53] edugfilho opened #2101 "Glam ETL hot probe list - Legacy telemetry: most used probes"

[2022-08-24 17:53] edugfilho opened #2102 "Glam ETL hot probe list - Glean: most used probes"

[2022-08-24 17:54] edugfilho opened #2103 "Glam ETL hot probe list - Legacy telemetry: recent probes"

[2022-08-24 17:54] edugfilho opened #2104 "Glam ETL hot probe list - Glean: recent probes"

[2022-08-24 17:54] edugfilho opened #2105 "Glam ETL hot probe list - Glean: recent probes"

[2022-08-24 17:55] edugfilho opened #2106 "Glam ETL hot probe list - Glam "probe request" page"
When a probe isn't found, this page will offer the user the possibility to request that the probe be calculated in the next ETL run. Also offers the user the possibility to visualize the probe on STMO

[2022-08-24 17:55] edugfilho opened #2107 "Glam ETL hot probe list - Deploy and test on Glam DEV ETL - Legacy telemetry"

[2022-08-24 17:57] edugfilho opened #2108 "Glam ETL hot probe list - Prod deployment"
If needed by CI, copy dev code into prod dag and open a new PR

[2022-08-24 17:57] #2101 closed, assigned to edugfilho

[2022-08-24 17:57] #2102 closed, assigned to edugfilho

[2022-08-24 17:57] #2103 closed, assigned to edugfilho

[2022-08-24 18:27] Iinh commented on #628
Closed via #2092.

[2022-08-24 18:27] #628 closed, assigned to nobody

[2022-08-24 18:29] #2105 closed, assigned to nobody

[2022-08-24 18:51] edugfilho opened #2109 "Glam ETL hot probe list - Add dropped probes and reason to ETL"
When Glam ETL doesn't build a probe - for whatever reason - the probe data won't be available to users. In the context of only computing hot probes, we need to be able to show users whether a probe with missing data was actually attempted to be calculated and, if so, why it's missing or if the probe is not currently part of the hot list.

[2022-08-24 19:23] edugfilho opened #2110 "Probe browser_ui_interaction_content_context (release) causing Out of Memory app errors"
Greg Tatum (@gregtatum) let us know of that in the Glam slack channel.

We noticed that the probe in question has a very high number of indexes, which is probably what's causing the errors.

[2022-08-25 13:58] gregtatum commented on #2110
Part of the problem is that the keys are effectively unbounded, as extensions can add arbitrary items to the context menu, and this probe counts how often a context menu item is clicked. The top 30-50 keys are the most relevant here, but then there is a long tail of random extension items.

[2022-08-30 22:06] edugfilho opened #2118 "ETL: Pick only 50 top keys for probes with more than that amount of keys"
Probes with many keys cause Out of Memory errors on the Glam server App.  We also understand that visualizing probes with too many keys is a very difficult task, because the user must select one key at a time from a drop-down menu.
By implementing this we will hopefully select the most relevant keys, thus helping visualization, and avoid the OOM error.

When a user visualizes a probe that has its

[2022-08-30 22:44] edugfilho opened #2119 "Glam ETL hot probe list: Create Dev ETL - Legacy telemetry"

[2022-09-02 17:56] #2095 closed, assigned to Iinh

[2022-09-05 10:06] valenting opened #2122 "GLAM export to JSON doesn't work"
**Describe the bug**
Nothing happens when I click on "Export to JSON".

**To Reproduce**
Steps to reproduce the behavior:
Load https://glam.telemetry.mozilla.org/firefox/probe/dns_trr_lookup_time3/explore?activeBuckets=%5B%22Fine%22%2C%22Timeout%22%2C%22Bad%22%5D&channel=release&currentPage=1&process=parent&timeHorizon=QUARTER or any other probe.
Click "Export to JSON"
Nothing happens. No errors i

[2022-09-05 14:55] akkomar commented on #2122
Might be a Nightly issue - export works for me in Firefox 103.0.2

[2022-09-06 07:30] valenting commented on #2122
Yes, this seems to be a recent regression.
I filed a bug for it [Bug 1789361 - Glam can't export to JSON after bug 1771423](https://bugzilla.mozilla.org/show_bug.cgi?id=1789361)

[2022-09-06 15:07] edugfilho commented on #2110
Many thanks. We will tackle the issue with probes having too many keys by picking the top 50 keys in [this ticket](https://github.com/mozilla/glam/issues/2118)

[2022-09-06 15:07] #2110 closed, assigned to nobody

[2022-09-07 17:56] edugfilho commented on #2122
Ok :) I'll close this as a non-issue

[2022-09-07 17:56] #2122 closed, assigned to nobody

[2022-09-08 03:11] edugfilho commented on #1888
Reopening this since the previous fix had to be rolled back. Adding `abstract=True` to the model, which is not an abstract one, prevents it from being instantiated hence throwing an exception at such attempt.

[2022-09-09 12:59] akkomar commented on #1901
This was partially fixed in https://github.com/mozilla/glam/pull/2129.

@Iinh proposed to use [Product Details API](https://wiki.mozilla.org/Release_Management/Product_details) to fetch the latest official build numbers which seems to be a good solution.

[2022-09-14 21:14] mcomella commented on #1231
I noticed an odd behavior: the scale is correct when an even number of percentiles is selected but is broken when an odd number is selected (the latter which is the default). It doesn't seem to matter which percentiles are selected: e.g. adding one of 0.1% or 99.9% fixes the scale. Here's a sample:
- [default](https://glam.telemetry.mozilla.org/fenix/probe/perf_startup_cold_main_app_to_first_frame

[2022-09-14 21:29] mcomella commented on #1231
**Correction:** the scale is only incorrect if you use 5 selected percentiles (i.e. the default): any other number has a desirable behavior.

I suspect this line, which returns early from additional yDomain calculations if we have 5 visible percentiles, may be the root cause:

https://github.com/mozilla/glam/blob/877daf4ababa56c6e984654bb9f9fe6e758696bc/src/components/explore/AggregationsOverTimeG

[2022-09-15 22:13] mcomella opened #2145 "GLAM visualizations are missing data: should have more than 3 months"
**Describe the bug**
For at least two fenix `timing_distribution` probes, [`perf.awesomebar.bookmark_suggestions`](https://glam.telemetry.mozilla.org/fenix/probe/perf_awesomebar_bookmark_suggestions/explore?aggType=avg&currentPage=1&timeHorizon=ALL&visiblePercentiles=%5B95%2C75%2C50%2C25%2C5%2C1%5D) and [` perf.startup.cold_main_app_to_first_frame`](https://glam.telemetry.mozilla.org/fenix/probe/p

[2022-09-21 18:24] edugfilho commented on #2104
Implemented code, under testing along with other tasks for the same story

[2022-09-21 18:49] rafrombrc commented on #1073
Closing because this is now being tracked in the mozilla/opmon#45 ticket.

[2022-09-21 18:49] #1073 closed, assigned to rafrombrc

[2022-10-14 19:42] edugfilho commented on #2145
Looks like at each run the ETL is replacing the Glam sql fenix tables with the last 3 versions of data. Will keep investigating

[2022-10-15 00:28] edugfilho commented on #2145
Scratch that. Inspecting the sql fenix tables I can see data for `perf_awesomebar_bookmark_suggestions` all the way to `2021040717`. I also confirmed the backend service doesn't return the older data. I'll see why.

[2022-10-15 01:48] edugfilho commented on #2145
I noticed the Glam front-end does not specify the amount of versions when it requests Glean probe data, which makes the back-end default to 3, whereas Firefox desktop (legacy) asks for 10 versions.

I added the `versions: 10` parameter to the Glean code [in this branch](https://github.com/mozilla/glam/tree/glean-req-10-versions) but that only gives about an extra month in the chart. I'll work more

[2022-10-19 11:09] edugfilho opened #2177 "Glam Dev ETL teardown"
List of things to be dismantled after testing with the Glam Dev ETL environment

- [x] Glam Dev Airflow Dag
- [x] moz-fx-data-shared-prod.dev_telemetry_derived dataset
- [x] Sandbox GCP project
- [ ] Remove extra `docker_image` parameters introduced in [this commit](https://github.com/mozilla/telemetry-airflow/pull/1555/commits/662dfebae2a71016aa152af49d3c645c6c0b48a9)
- [x] Remove sql/moz-fx-data

[2022-10-19 17:17] Iinh commented on #2086
Legacy telemetry dashboards are done. See:

Histograms
- [Exponential, linear, enumerated](https://sql.telemetry.mozilla.org/dashboard/firefox-desktop-histogram-glam-?p_Bucket%20count=50&p_Channel=nightly&p_End%20Date%20%28within%206%20months%29=2022-10-12&p_High=1000&p_Histogram%20type=exponential&p_Low=1&p_Metric=gc_prepare_ms&p_OS=Windows&p_Process=parent&p_Start%20Date%20%28within%206%20months

[2022-10-25 16:02] edugfilho commented on #2119
Dev ETL for legacy telemetry is running on [Prod Airflow](https://workflow.telemetry.mozilla.org/graph?dag_id=glam-dev)

[2022-10-25 16:02] #2119 closed, assigned to edugfilho

[2022-10-31 15:18] edugfilho opened #2199 "Events are not supported but GLAM doesn't explicitly informs it"
GLAM currently does not support event metrics. However they're still searchable, and once an event is selected a `404: No data found for the selected dimensions.` message is displayed, which might lead users to think GLAM supports events but the selected one doesn't have data, which is not true.

Being explicit about not supporting event metrics would avoid confusion.
Suggestions by @chutten:
1) H

[2022-11-09 18:57] Iinh commented on #2199
We should go with option 2 as this is how we're currently showing for the other metric types that we don't support, such as boolean scalar. See: https://glam.telemetry.mozilla.org/firefox/probe/a11y_backplate/explore?currentPage=1&process=parent&ref=20221014215500

[2022-11-15 15:10] #2199 closed, assigned to Iinh

[2022-11-15 15:36] bendk opened #2224 "Glean memory distribution scales are off when the unit is not `bytes`"
When graphing Glean memory distributions, the scale seems to be off:
   - [This graph](https://glam.telemetry.mozilla.org/fenix/probe/places_manager_db_size_after_maintenance/explore?aggType=avg&currentPage=1) should be on the order of megabytes, but GLAM displays `G`
   - [This graph](https://glam.telemetry.mozilla.org/fenix/probe/glean_upload_pending_pings_directory_size/explore?aggType=avg&curr

[2022-11-18 18:39] #2224 closed, assigned to Iinh